
*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: Arial;
    height: 100vh;
}

.main{
    /* font-size: 10px; */
    /* 1em = 10px */
    /* vw: view port (0-100), vh: 100vh */

    /* width: 100vw; width: 100%; */
    width: 500px; /* tamaño del padre body */
    /* background-color: gray; */
    /* height: 50vh; */
    height: 50%;
    background-color: gray;
}

h1{
    width: 50%; /* del tamaño del padre (main en este caso) */
    /* background-color: red; */
}

.main__title{
    font-size: 30px;
    /* em, rem */
    /* 1rem = 16px */
}

.img{
    width: 10cm;
    /* unidades de medida: cm, mm, pt, px */
    /* html: font-size 1em = 16px, por defecto */
}